/*  your css code here. If applicable */
:root {
  background-color: #f6f6f6;
}
.container {
  background-color: #f6f6f6;
  margin: 2vw;
}

.product {
  background-color: white;
}

.summary {
  background-color: #f7fbff;
  border-top: 2px solid #5ea4f3;
}
